[Desktop Entry]
Name=TaskBreaker
Name[sv]=Uppgiftsbrytare
Comment=Break tasks into small steps
Comment[sv]=Bryt ner uppgifter i små steg
GenericName=Accessibility Application
GenericName[sv]=Tillgänglighetsapp
Exec=python3 -m taskbreaker
Icon=taskbreaker
Terminal=false
Type=Application
Categories=Utility;Accessibility;
Keywords=accessibility;a11y;
Keywords[sv]=tillgänglighet;funktionsnedsättning;
